body{
  #a1{
    color:"white";
  }

  #a2{
    color:"white";
  }

  #a3{
    color:"white";
  }

  #a4{
    color:"white";
  }

  #a5{
    color:"white";
  }

  #a6{
    color:"white";
  }

  #a7{
    color:"white";
  }

  #a8{
    color:"white";
  }

  #a9{
    color:"white";
  }

  #a10{
    color:"white";
  }

  #left{
    height:100%;
    width:50%;
    float:left;
  }

  #right{
    height:100%;
    width:50%;
    float:left;
  }
}
