body{
  #a1{
    visibility:hidden;
  }

  #a2{
    visibility:hidden;
  }

  #a3{
    visibility:hidden;
  }

  #a4{
    visibility:hidden;
  }

  #a5{
    visibility:hidden;
  }

  #a6{
    visibility:hidden;
  }

  #a7{
    visibility:hidden;
  }

  #a8{
    visibility:hidden;
  }

  #a9{
    visibility:hidden;
  }

  #a10{
    visibility:hidden;
  }

  #left{
    height:100%;
    width:50%;
    float:left;
  }

  #right{
    height:100%;
    width:50%;
    float:left;
  }
}
